<!DOCTYPE html>
<html>
<head>
<title>STRONA GŁÓWNA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; background-color: #070515;}
  /* Set the width of the sidebar to 120px */
  .w3-sidebar {width: 10%; background: #ffffff;}
  .w3-black {background: #0d0a29;}
  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {margin-left: 120px}
  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body>
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <img src="../img/logo.png" style="width:100%">
    <a href="game.html" class="w3-bar-item w3-button" style="background: white; border-radius: 10px;">
      <i class="fa fa-play" style="font-size: 40px; color: #0d0a29"></i>
      <p>PLAY</p>
    </a>
    <a href="#training" class="w3-bar-item w3-button">
      <i class="fa fa-info" style="font-size: 40px; color: #0d0a29;"></i>
      <p style="color: #0d0a29;">TRAINING</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button">
      <i class="fa fa-info" style="font-size: 40px; color: #0d0a29;"></i>
      <p style="color: #0d0a29;" ;>ABOUT</p>
    </a>
    <a href="#photos" class="w3-bar-item w3-button">
      <i class="fa fa-list" style="font-size: 40px; color: #0d0a29;"></i>
      <p style="color: #0d0a29;">STATS</p>
    </a>
    <a href="#best" class="w3-bar-item w3-button">
      <i class="fa fa-trophy" style="font-size: 40px; color: #0d0a29;"></i>
      <p style="color: #0d0a29;">BEST</p>
    </a>
    <a href="#contact" class="w3-bar-item w3-button">
      <i class="fa fa-envelope" style="font-size: 40px; color: #0d0a29;"></i>
      <p style="color: #0d0a29;">CONTACT</p>
    </a>
  </nav>
  <div class="w3-padding-large" id="main">
    <header class="w3-container w3-center" id="home">
      <h1 style="color: white; font-size: 64px;"> DART COUNTER</h1>
      <p style="color: white;">Application for counting points during a dart game.</p>
    </header>
  </div>
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2 class="w3-text-light-grey">My Application</h2>
    <hr style="width:30%" class="w3-opacity">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna est, ultrices vel pulvinar eget, elementum quis dolor. Donec quis odio fermentum, lacinia mauris a, faucibus lectus. Nam dapibus, urna tempor placerat ullamcorper, purus ante iaculis lacus, nec dictum tortor nisi at dolor. Sed ut nisl urna. In ac luctus quam. Sed efficitur bibendum dui, ornare porta dui ullamcorper at. Pellentesque imperdiet vel elit sed imperdiet.
      Suspendisse tristique vestibulum nunc et lacinia. Fusce in dignissim massa. Aenean congue nisi sapien. Nam auctor justo vel placerat tincidunt. Aenean ultrices mauris non ornare auctor. Aliquam erat volutpat. Nam vulputate egestas diam in condimentum. Quisque sit amet libero vitae massa mattis pretium viverra vel nunc. Curabitur rhoncus vitae nibh congue pulvinar. Nunc nibh dui, congue et velit vitae, rutrum ultrices tellus. Praesent vitae arcu volutpat elit pretium blandit ac ac nulla. Mauris eget imperdiet eros. Nunc gravida lacus non ipsum porttitor imperdiet. Aenean bibendum aliquet ipsum, non ornare ligula luctus at. Aenean malesuada massa ut ipsum ullamcorper, at lacinia risus eleifend.
    </p>
  </div>
</body>
</html>